<?xml version="1.0" encoding="UTF-8"?>
<plugin 
  xmlns="http://cordova.apache.org/ns/plugins/1.0" id="cordova-plugin-compat" version="1.2.1-dev">
  <name>Compat</name>
  <description>[DEPRECATED] Cordova Compatibility Plugin</description>
  <license>Apache 2.0</license>
  <keywords>cordova,compat</keywords>
  <repo>https://git-wip-us.apache.org/repos/asf/cordova-plugin-compat.git</repo>
  <engines>
    <engine name="cordova" version=">=5.0.0"/>
    <engine name="cordova-android" version="
      <6.3.0"/>
    </engines>
    <!-- android -->
    <platform name="android">
      <source-file src="src/android/PermissionHelper.java" target-dir="src/org/apache/cordova" />
      <source-file src="src/android/BuildHelper.java" target-dir="src/org/apache/cordova" />
    </platform>
  </plugin>
